*{
    font-family: 'Poppins', sans-serif;
}
.changeunit
{border-radius: 10px;
color: rgb(63, 2, 63);
background-color: rgb(184, 116, 116);
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #d7d1dc;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.bmiinfo{
    text-align: center;

}
